iframe {visibility:hidden; !important};

/*FONT: Sporting Grotesque by Lucas le Bihan*/
/*FOUNDRY: Velvetyne.fr*/
@font-face{
    font-family: SportingGrotesque-Regular;
    
    src: url("../fontsSportingGrotesque-Regular.otf");
}

@keyframes flicker {
  0% {opacity: 0.6}
  50% {opacity: 1}
  /*25% {opacity: 1}*/
  /*75% {opacity: 1}*/
  100% {opacity: 0.6}
}

@keyframes null {
  0% {opacity: 1}
  100% {opacity: 1}
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}
body::-webkit-scrollbar-thumb {
    background-color: black;
}

::-moz-selection { /* Code for Firefox */
  color: rgba(0,0,0,1);
  background: rgba(255,255,0,1);
}
::selection {
  color: rgba(0,0,0,1);
  background: rgba(255,255,0,1);
}

body, html {
    height: 100%;
    margin: 0;
    background-color: {color:background};
    /*background-image: linear-gradient({text:gradient angle}deg, {color:gradient colour 1}, {color:gradient colour 2}, {color:gradient colour 3})*/
    /*background-image: linear-gradient({text:gradient angle}deg, {color:gradient colour 1}, {color:gradient colour 2}, {color:gradient colour 3}, {color:gradient colour 4})*/
}

* {
    cursor: crosshair;
}

/*HEADER*/

#header {
	position: fixed;
	max-width: 40%;
	top: 23px;
	left: 15px;
	
    font-family: serif;
    font-size: 43pt;
	letter-spacing: -0.02em;
	line-height: 48px;
	text-align: left;
	color: black;
	text-decoration: none;
	text-transform: lowercase;
	
	z-index: 101;
	/*transition-duration: 0.3s;*/
}

#header a:hover {
    animation-name: flicker;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    
    font-family: SportingGrotesque-Regular, 'Shrikhand', sans-serif;
    font-size: 36pt;
	letter-spacing: -0.05em;
	top: 30px;
	/*transition-duration: 0.3s;*/
}

.grot-header {
    font-family: SportingGrotesque-Regular, 'Shrikhand', sans-serif;
    font-size: 36pt;
    letter-spacing: -0.05em;
    text-align:center;
}

.grot-header.about {
    line-height: 14px;
}

.navi {
    position: fixed;
    max-width: 60%;
	top: 23px;
	right: 15px;
	
    font-family: serif;
    font-size: 43pt;
	letter-spacing: -0.02em;
	line-height: 48px;
	text-decoration: none;
	text-align: right;
	color: black;

	cursor: default;
	z-index: 101;
}

.navlink {
	color: black;
	text-decoration: none;
}

.navlink.contact, .navlink.about {
    font-family: SportingGrotesque-Regular, 'Shrikhand', sans-serif;
    font-size: 36pt;
    line-height: 34px;
    letter-spacing: -0.05em;
}

.navlink:hover {
	color: black;
    font-family: SportingGrotesque-Regular, 'Shrikhand', sans-serif;
    font-size: 36pt;
    line-height: 34px;
	letter-spacing: -0.05em;
	
    animation-name: flicker;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
}

.contactlink {
	color: black;
    position: fixed;
    top: 23px;
    right: 30px;
}

.contact-link {
    font-family: SportingGrotesque-Regular, 'Shrikhand', sans-serif;
	color: black;
	text-decoration: none;
	transition-duration: 0.3s;
}

.contact-link:hover {
	color: black;
	text-decoration: underline;
	transition-duration: 0.3s;
}

.copy.contact {
    font-family: SportingGrotesque-Regular, 'Shrikhand', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    letter-spacing: -0.03em;
    text-align: center;
}

.works.contact {
    position: fixed;
    width: 80%;
    top: 35vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 68px;
    
    font-family: SportingGrotesque-Regular, 'Shrikhand', sans-serif;
    font-size: 36pt;
    line-height: 48px;
    letter-spacing: -0.05em;
    text-align: center;

    z-index: 100;
}

a {
    color: black;
    cursor: alias;
}


/*CONTENT*/

.works {
    position: relative;
    width: 40%;
    top: 135px;
	margin-left: 30%;
	margin-right: 30%;
	/*padding-top: 34px;*/
    margin-bottom: 68px;
    z-index: 100;
}

.image {
    width: 100%;
	transition-duration: 0.3s;
	z-index: 99;
}

.desc {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: -1;
    
    font-family: serif;
    font-size: 18pt;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    
    color: black;
    /*background-color: yellow;*/
}
 
#title {
    position: fixed;
    width: calc(30% - 15px);
    top: 40vh;
    left: 0px;
    
    /*text-align: left;*/
    
    /*background-color: pink;*/
}

#date {
    position: absolute;
    width: calc(30% - 15px);
    top: 40vh;
    right: 0px;
    
    /*text-align: left;*/
    
    /*background-color: pink;*/
}

.small {
    font-size: 10pt;
    margin-top: 0px;
    margin-bottom: 20px;
}

#bgShape {
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
    /*padding-left: 40%;*/
    /*padding-right: 40%;*/
    text-align: center;
  
    z-index: 1;
    background-color: pink;
    visibility: hidden;
}

#shape {
    fill: none;
    stroke: yellow;
    stroke-width: 18; 
    /*stroke-linejoin: round;*/
    /*stroke-linecap: round;*/
}

#wip {
    position: fixed;
    width: 80%;
    height: 48%;
    margin-top: 20vh;
    margin-left: 10%;
    margin-right: 10%;
    
    font-family: SportingGrotesque-Bold;
    font-size: 60pt;
    line-height: 60pt;
    text-align: center;
    
    animation-name: flicker;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    
    background-color: pink;
    visibility: hidden;
    z-index: 1000;
}

#backButton {
    position: fixed;
    left: 15px;
    bottom: 15px;
    
    font-family: serif;
    font-size: 18pt;
	letter-spacing: -0.02em;
    color: black;
    
    cursor: pointer;
    z-index: 10000;
}

#backButtonText {
    /*position: absolute;*/
}

#backButtonSymbol {
    position: absolute;
    left: 9pt;
    bottom: -20pt;
    
    font-size: 36pt;
    visibility: hidden;
    /*background-color: yellow;*/
}

#backButton:hover {
    animation-name: flicker;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    
    bottom: 9px;
    font-family: SportingGrotesque-Regular, 'Shrikhand', sans-serif;
    font-size: 15pt;
}

#backButton:hover #backButtonText {
    visibility: hidden;
}

#backButton:hover #backButtonSymbol {
    visibility: visible;
}

@media only screen and (max-width: 600px) {
    body {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    
    #header {
        font-size: 33pt;
        line-height: 35px;
    }
    #header a:hover {
        font-size: 28pt;
        top: 29px;
    }
    .navi {
        font-size: 33pt;
        line-height: 35px;
    }
    .navlink:hover {
        font-size: 28pt;
        line-height: 25px;
    }

    .navlink.contact, .navlink.about {
        font-family: SportingGrotesque-Regular, 'Shrikhand', sans-serif;
        font-size: 28pt;
        line-height: 25px;
        letter-spacing: -0.05em;
    }
    
    .works {
        width: 80%;
        top: 160px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .desc {
        position: relative;
        height: auto;
        width: 100%;
    }
    #title {
        position: relative;
        top: 0px;
        width: 100%;
    }
    #date {
        position: relative;
        top: 0px;
        width: 100%;
    }

    .copy.contact {
        font-family: SportingGrotesque-Regular, 'Shrikhand', sans-serif;
        font-size: 21pt;
        line-height: 35px;
        letter-spacing: -0.03em;
    }

    .grot-header {
        font-family: SportingGrotesque-Regular, 'Shrikhand', sans-serif;
        font-size: 28pt;
        letter-spacing: -0.05em;
        text-align:center;
    }
}